.Project {
	min-height: 380px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	gap: 10rem;
	position: relative;
	transform: translateY(50px);
	opacity: 0;
	transition: 1s all ease;
}

.Project.active {
	transform: translateY(0);
	opacity: 1;
}
.project-info {
	flex-basis: 70%;
	background: var(--fourth);
	border-radius: 5px;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
}
.project-featured {
	display: inline;
	color: var(--third);
	font-size: 1rem;
	letter-spacing: 0.2rem;
}

.projects-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.project-header {
	display: flex;
	flex-basis: 10%;
	justify-content: space-between;
}

.project-title {
	font-size: 1.6rem;
	margin: 0;
}

.project-links {
	display: flex;
	gap: 1rem;
}

.project-desc {
	flex-basis: 70%;
	color: var(--fifth);
	letter-spacing: 0.05rem;
	line-height: 2.2rem;
	font-weight: 400;
	margin: 0;
	padding: 1.5rem 0;
}

.project-tags-title {
	font-weight: bold;
	font-size: 1rem;
	margin: 0;
	padding-bottom: 1rem;
}

.project-tags {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

.project-tag {
	background: var(--third);
	padding: 0.3rem 1rem;
	border-radius: 2px;
}

.github-link {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	gap: 0.5rem;
}

.project-img {
	border-radius: 5px;
	border: 1px solid var(--fourth);
	max-width: 500px;
}

@media screen and (max-width: 1000px) {
	.Project {
		flex-direction: column;
		justify-content: center;
		align-items: center;

		transform: translateY(0);
		opacity: 1;
	}

	.project-info {
		width: 90%;
	}

	.project-img {
		display: none;
	}
}
