nav {
	display: flex;
	padding: 2rem 1.5rem;
	justify-content: space-between;
	align-items: center;
}
.routes {
	display: flex;
	gap: 5rem;
}

.logo {
	background-color: var(--secondary);
	height: 40px;
}
